<h2> PÁGINA DE ERROR</h2>

    <button pButton 
            type="button" 
            label="Ir a Login" 
            class="p-button p-button-info mr-1"
            routerLink="/auth/login">
    </button>
    <button pButton 
            type="button" 
            label="Ir a Registro" 
            class="p-button p-button-info mr-1"
            routerLink="/auth/register">
    </button>
    <button pButton 
            type="button" 
            label="Ir a Listado de heroes" 
            class="p-button p-button-info"
            routerLink="/heroes/listado">
    </button>
        <!-- <a routerLink="/auth/login">Ir a Login</a> -->
        <!-- <a routerLink="/auth/register">Ir a Registro</a> -->
        <!-- <a routerLink="/heroes/listado">Ir a Listado de heroes</a> -->